rahulpoc/src/main/mule/salesforce.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	<flow name="createLead" doc:id="ce7454b1-7897-42bf-b085-edf7be6978c8" >
		<http:listener doc:name="Listener" doc:id="a5844fe4-b896-445f-a634-f5727d08ee5d" config-ref="HTTP_Listener_config" path="/createLead"/>
		<logger level="INFO" doc:name="Logger" doc:id="9848ef00-afd3-4ec8-8be7-115831eace3d" message="Lead Request Recieved from Listener"/>
		<set-variable value="#[payload]" doc:name="Set payload to Variable" doc:id="3281db6a-b1d2-49dd-8ce4-b6c4c28d9bb3" variableName="originalPayloadVar"/>
		<db:bulk-insert doc:name="Bulk insert" doc:id="bad85a25-1281-4442-bfb6-ccd2f1297a97" config-ref="Database_Config" target="adapterResponse">
				<db:bulk-input-parameters><![CDATA[#[payload map ((item, index) ->
	{
		leadSource:item.source,
		brokerID:item.brokerID,
		leadID:item.brokerID ++ item."mobile number",
		leadName:item."first name" ++ item."last name"				
			}
)]]]></db:bulk-input-parameters>
				<db:sql><![CDATA[INSERT INTO public.leads(
	"leadSource", "status", "brokerID", "leadID", "leadName", amount)
	VALUES (:leadSource, 'N', :brokerID, :leadID, :leadName, 0);]]></db:sql>
			</db:bulk-insert>
		<logger level="INFO" doc:name="Logger" doc:id="0e1477f8-ad85-4540-9c42-816619f06be2" message="Database insert response #[vars.adapterResponse]" />
		<ee:transform doc:name="Transform Message" doc:id="b003dc3c-db04-4eb9-8da5-91a351f2c84d">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	LeadID__c: payload01.brokerID ++ payload01."mobile number",
	Name__c: payload01."first name" ++" "++ payload01."last name",
	Address__c: payload01.location,
	City__c: payload01.city,
	State__c: payload01.state,
	PostalCode__c: payload01."Zip Code",
	Country__c: payload01.country,
	MobilePhone__c: payload01."mobile number",
	Email__c: payload01.Email,
	LeadSource__c: payload01.source,
	LeadStatus__c:"N",
	brokerID__c:payload01.brokerID,
	Name: payload01."first name" ++ " "++ payload01."last name"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:upsert objectType="lead__c" externalIdFieldName="LeadID__c" doc:name="Upsert" doc:id="21506bea-6048-4bed-a4f2-04131520151a" config-ref="Salesforce_Config">
		</salesforce:upsert>
		<ee:transform doc:name="Transform Message" doc:id="91f2a246-eaf1-474c-a88d-dc6139bf91f1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="5a4d9c62-da64-4bbe-bdcb-834383ef9ee7" message="response recieved from salesforce #[payload]"/>
	</flow>
	<flow name="createAccountAndContact" doc:id="e7da759f-6021-40d5-98b8-4241ad80fabf">
		<salesforce:modified-object-listener objectType="lead__c" doc:name="On Modified Object" doc:id="cc426d60-03ac-4ce7-a092-e08e5f5fed46" config-ref="Salesforce_Config">
			<scheduling-strategy >
				<fixed-frequency frequency="1" timeUnit="MINUTES"/>
			</scheduling-strategy>
		</salesforce:modified-object-listener>
		<logger level="INFO" doc:name="Logger" doc:id="798d050c-babf-49bf-9c94-4a47f95e656c" message="updated Lead Recieved from salesforce #[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="8a2defcc-8dfc-4b1a-b0e8-eaedd434e86f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<choice doc:name="Choice" doc:id="46fccf02-fdad-49de-baf0-48412d2b6fd2" >
			<when expression="#[payload.LeadStatus__c=='Y']">
				<set-variable value="#[payload]" doc:name="Set Variable" doc:id="f181f783-123d-45b9-86e9-d32ee3fa4e36" variableName="originalPayload"/>
				<ee:transform doc:name="Transform Message" doc:id="194b8d87-0af4-44cd-88ce-466743788f55">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
[{
	Name: payload.Name__c,
	Address__c: payload.Address__c
}]]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<salesforce:create doc:name="Create account" doc:id="0496093c-6f0c-4949-83f2-1c485bae4cb9" config-ref="Salesforce_Config" type="account__c"/>
				<ee:transform doc:name="Transform Message" doc:id="a6623bfb-554b-478a-99b2-9ca4d28db501">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="6dea455f-eef8-4e60-8327-ce187dd22541" message="Response of create account #[payload]" />
				<set-payload value="#[vars.originalPayload]" doc:name="Set Payload" doc:id="9e9766e7-db95-4191-9fca-006e8297bc05" />
				<ee:transform doc:name="Transform Message" doc:id="c39c2236-5fbd-400c-be4a-0cf124d31c49">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
[{
	Name: payload.Name__c,
	name__c: payload.Name__c,
	MobilePhone__c: payload.MobilePhone__c,
	Email__c: payload.Email__c
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
				<salesforce:create doc:name="Create Contact" doc:id="e0251dc9-ea0e-4aae-9f07-5789d2ff91ed" config-ref="Salesforce_Config" type="contact__c"/>
				<ee:transform doc:name="Transform Message" doc:id="2215b694-cdb4-4a66-ba23-1dd93088d81b" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="f7d74569-3ccd-43d2-9d1d-666cb0f618fb" message="response from create contact #[payload]"/>
				<set-payload value="#[vars.originalPayload]" doc:name="Set Payload" doc:id="afc388b7-3f53-4490-8ae8-cc2d26e9248b" />
				<ee:transform doc:name="Transform Message" doc:id="71bda8a5-9d69-4c9c-8269-651c072be467">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"status":payload.LeadStatus__c,
	"leadID":payload.LeadID__c
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<db:update doc:name="Update" doc:id="6b14b720-037e-461a-92e8-8c7098d73be6" config-ref="Database_Config">
					<db:sql ><![CDATA[UPDATE public.leads
SET "status" = :status1,
    "amount" = 50
    
 WHERE "leadID"=:lead]]></db:sql>
					<db:input-parameters ><![CDATA[#[{
	status1:payload.status,
	lead:payload.leadID
}]]]></db:input-parameters>
				</db:update>
				<logger level="INFO" doc:name="Logger" doc:id="16482df8-dfe3-4b7e-8782-a07e60e94fd7" message="Response From Database #[payload]"/>
				<ee:transform doc:name="Transform Message" doc:id="fbd30de9-df17-443f-b79a-00c0bb07c0df" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="09906645-1770-4dbc-9ea8-faa2c8f6fc21" message='Lead status is still "N"'/>
			</otherwise>
		</choice>
	</flow>
	<flow name="queryLeads" doc:id="ed155074-da50-415a-882f-9aa92b7af783" >
		<http:listener doc:name="queryLeads" doc:id="5e717565-b495-4561-b88e-e0b4ff3d406e" config-ref="HTTP_Listener_config" path="/queryLeads"/>
		<salesforce:query doc:name="Query" doc:id="1172417d-9052-40ed-96f2-2416615da8b0" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[select FIELDS(ALL) from lead__c limit 200]]></salesforce:salesforce-query>
		</salesforce:query>
		<ee:transform doc:name="Transform Message" doc:id="df8a5c70-fb6a-4e17-9301-33dbb731c0d1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
