rahulpoc/src/main/mule/scatterGather.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd">
	<flow name="scatterGatherFlow" doc:id="463873aa-2544-4eaa-8f2d-5d63f7c4a96c" >
		<http:listener doc:name="Listener" doc:id="eb4ebda4-4b49-48ad-b65c-f2469db46297" config-ref="HTTP_Listener_config" path="/scatter"/>
		<scatter-gather doc:name="Scatter-Gather" doc:id="65fdff40-33e3-4c97-9afa-91b029d9b201" >
			<route >
				<ee:transform doc:name="Transform Message" doc:id="f64b075c-f2e1-4f34-adc9-e24f1246fa0d" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
out1:payload.a + payload.b +1]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</route>
			<route >
				<ee:transform doc:name="Transform Message" doc:id="3c969c59-1991-4bc0-b3bd-1761edf6815c">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
out2:payload.a + payload.b +2]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</route>
			<route >
				<ee:transform doc:name="Transform Message" doc:id="7fb3c8d8-f382-4797-a25f-272e6b999e3f" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
out3:payload.a + payload.b +3]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</route>
		</scatter-gather>
		<ee:transform doc:name="Transform Message" doc:id="53e8b9ed-1aeb-46a7-80b6-8ccdcb8f70ff" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
flatten(payload..)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
