deployme/rahulpoc/src/main/mule/databaseTransactionHandling.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="databaseTransactionHandlingFlow" doc:id="d9e04a16-ffd6-4294-b4c9-c2e8f0c53e5f" >
		<http:listener doc:name="Listener" doc:id="af5870aa-7d08-4292-aa19-dfd87d0fc417" path="/database" config-ref="HTTP_Listener_config"/>
		<logger level="INFO" doc:name="Logger" doc:id="56290f3a-163b-4f7a-9c6b-c87f2d4466b4" message="Service Start-Recieved payload #[payload]"/>
		<set-variable value="#[payload]" doc:name="Set original payload to Variable" doc:id="10150b38-8fbe-4c86-a765-e402e9af236d" variableName="originalPayloadVar"/>
		<try doc:name="Try" doc:id="ff3410f6-aa98-4396-9267-3ebcc129f51e" transactionalAction="ALWAYS_BEGIN">
			<db:insert doc:name="Insert in emp table" doc:id="c0edb261-b43b-4a10-b3dd-5b19c2716071" config-ref="Database_Config" transactionalAction="ALWAYS_JOIN">
				<db:sql><![CDATA[INSERT INTO public.emp(
	"orderID", "customerName", "deliveryDate", "itemName", quantity, price)
	VALUES (:ID, :name, :date, :item, :quan, :price);
]]></db:sql>
				<db:input-parameters><![CDATA[#[{
ID:payload[0].orderID,
"name":payload[0].customerName,
price:payload[0].price,
"date":payload[0].deliveryDate,
"item":payload[0].item.itemName,
quan:payload[0].item.quantity
}]]]></db:input-parameters>
			</db:insert>
			<ee:transform doc:name="Transform Response Message" doc:id="c7ca091b-bf0e-4bd8-9fa3-3b7524a511b9" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<logger level="INFO" doc:name="Logger" doc:id="531ddd6f-24ac-4cbc-9a17-0be16e076868" message="First inser call response #[payload]"/>
			<flow-ref doc:name="Flow Reference" doc:id="4566c287-ba76-4d35-b70e-4b0affa61190" name="subflowToInsertInTest1Table"/>
			<set-payload value="#[vars.originalPayloadVar]" doc:name="Set original payload from variable" doc:id="7a8cf021-392d-4e56-8654-1c48d61e8840" />
			<db:insert doc:name="Insert in test table" doc:id="09d24598-b4ea-40a0-9c6e-17392692e0ad" config-ref="Database_Config">
				<db:sql ><![CDATA[INSERT INTO public.test(
	"id", "name")
	VALUES (:id, :name);
]]></db:sql>
				<db:input-parameters ><![CDATA[#[{
	id:payload[0].orderID,
	name:payload[0].customerName
}]]]></db:input-parameters>
			</db:insert>
			<ee:transform doc:name="Transform response Message" doc:id="21e2a182-4302-4ce6-a9a8-7b42b463acb3">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<logger level="INFO" doc:name="Logger" doc:id="5c2abf37-419b-4fcb-b984-f1da8ddbd63a" message="response from second database call #[payload]"/>
		</try>
		<logger level="INFO" doc:name="Logger" doc:id="a930169b-3b22-45c7-b757-dc463a1d4dde" message="service End logger #[payload]"/>
	</flow>
	<sub-flow name="subflowToInsertInTest1Table" doc:id="4ecde989-b168-47d9-a77c-43d3f4f3b94e" >
		<logger level="INFO" doc:name="Logger" doc:id="44e9080f-d926-4621-b134-06c8166bd6ca" message="Request got in subflow #[payload]"/>
		<set-payload value="#[vars.originalPayloadVar]" doc:name="Set Payload from payload variable" doc:id="5231eb0f-3e1f-463a-a0dd-f2077b1ae582" />
		<logger level="INFO" doc:name="Logger" doc:id="a696f7f3-669f-4538-8ac6-01680aa98fbf" message="payload in subflow using variable #[payload]"/>
		<db:insert doc:name="Insert in test1 table" doc:id="01be167f-9c1e-49ea-98ec-1798f14fe6c2" config-ref="Database_Config">
			<db:sql ><![CDATA[INSERT INTO public.test1(
	"id", "name")
	VALUES (:id, :name);]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	id:payload[0].orderID,
	name:payload[0].customerName
}]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Transform Message" doc:id="3223062f-e8da-460e-94f9-6889af395dd4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="79f29c99-b17f-4bbd-bac5-2398f25da134" message="response from test1 table #[payload]"/>
	</sub-flow>
</mule>
