deployme/rahulpoc/src/main/mule/for-each.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="for-eachFlow" doc:id="3b82c3ee-3847-4a60-801b-b2fb7c74cf36" >
		<http:listener doc:name="Listener" doc:id="1d584a9d-744f-450a-b305-800dfc78249c" config-ref="HTTP_Listener_config" path="/foreach"/>
		<logger level="INFO" doc:name="Logger" doc:id="134cfb0f-cc2b-442e-a6e4-e036bb9d6d8c" message="Request Recieved from HTTP #[payload]"/>
		<foreach doc:name="For Each" doc:id="d3873320-8f05-46f6-95ae-3490af1cef00" collection="#[payload]">
			<logger level="INFO" doc:name="Logger" doc:id="67c53ccb-c220-41ed-8492-c62c13c8e4ba" message="payload in for-each block #[payload]" />
			<try doc:name="Try" doc:id="e0f0d5f4-e3e3-4b07-a48d-56078abaf1ca" >
				<db:insert doc:name="Insert in test1 table" doc:id="031a431e-d676-4658-abf4-b1e4f0f2203b" config-ref="Database_Config">
				<db:sql><![CDATA[INSERT INTO public.test1(
	"id", "name")
	VALUES (:id, :name);]]></db:sql>
				<db:input-parameters><![CDATA[#[{
	id:payload.orderID,
	name:payload.customerName
}]]]></db:input-parameters>
			</db:insert>
				<error-handler >
					<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="c8bafba4-37de-4d60-b794-0b83adb659da" type="ANY"/>
				</error-handler>
			</try>
			<ee:transform doc:name="Transform Message" doc:id="d57aaba9-7074-495b-bf5e-359d2270f9e8">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<logger level="INFO" doc:name="Logger" doc:id="8db9edb8-85ac-4c6b-8172-2f05436f04fd" message="payload after db insertion #[payload]" />
		</foreach>
		<logger level="INFO" doc:name="Logger" doc:id="ed29c7b0-7f2e-43f5-94a7-aaea22e1769e" message="service end logger #[payload]"/>
	</flow>
</mule>
